<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страны мира</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<!-- Страница со списком стран -->
<div id="countries-page">
    <header>
        <h1>Страны мира</h1>
        <p>Выберите страну для просмотра подробной информации</p>
    </header>

    <div class="container">
        <div class="countries-list">
            {% for country in countries %}
            <!-- Карточка страны 1 -->
            <div class="country-card">
                <!--                    <div class="flag flag-france"></div>-->
                <div class="country-info">
                    <h3>{{country.name}}</h3>
                    <p>{{country.capital}}</p>
                    <a href="countries/{{country.name}}" class="btn">Подробнее</a>
                </div>
            </div>
            {% endfor %}

        </div>
        <h2>Добавить страну</h2>
        <form method="post" action="/countries/add">
            <label>Название страны</label><br>
            <input type="text" name="name"><br>
            <label>Название столицы</label><br>
            <input type="text" name="capital"><br>
            <label>Кол-во человек в столице</label><br>
            <input type="text" name="population"><br>
            <button style="margin-top:10px" type="submit">Добавить страну</button>
        </form>
    </div>
</div>
</body>