<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страны мира</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<!-- Страница с деталями о Франции (скрыта по умолчанию) -->
<div id="france-detail">
    <header>
        <h1>{{ country.name }}</h1>
        <p>Подробная информация о стране</p>
    </header>

    <div class="container">
        <a href="/countries" class="back-link">← Вернуться к списку стран</a>

        <div class="country-detail">
            <div class="country-detail-header">
<!--                <div class="flag flag-france"></div>-->
                <div>
                    <h2>{{ country.name }}</h2>
                    <p>Столица: {{ country.capital }}</p>
                </div>
            </div>

            <div class="country-detail-info">
                <div class="info-block">
                    <h4>Основная информация</h4>
                    <ul>
                        <li><strong>Население:</strong> {{ country.people }}</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
</body>